@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* h1 {
  color: rgb(74, 74, 228);
  color: white;
} */

h2{
  font-family: 'Poppins', sans-serif;
}

/*! Header styling*/
header {
  background-color: #f4f4f4;
  /* margin: 5px; */
}

/*! Nav styling*/
nav {
  background-color: #23232e;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
   /* display: flex;  */
  

  /* height: 8vh; */
  vertical-align: middle;
}

nav ul {
  list-style: none;
  display: flex; 
  flex-flow: row wrap;
  justify-content: flex-end;
  /* height: 100%; */
  margin: 0px;
}

nav li {
  /* background-color: red; */
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-left: 10%;
  margin-right: 10%;
  /* padding: 0px 15px; */
}

nav a {
  height: 10vh;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  color: white;
  /* padding: 0 50px; */
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  border-radius: 50px;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:hover {
  /* opacity: 0.7; */
  background-color: #303036; 
  /* padding-left: 50px; */
  text-decoration: none;
  /* background-color: rgb(224, 248, 138); */
  /* background-color: white; */
  /* color: black; */
  color: rgba(0, 136, 169, 1);
}

nav a:active {
  text-decoration: none;
}

.active {
  /* background-color: rgb(4, 0, 243); */
  /* background-color: white; */
  /* color: black; */
  opacity: 0.7;
}

/* pagina about conteudo */

.flex-about{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-about > div{
	margin: 10px;
	padding: 20px;
}

#div-p{
	width: 30%;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.div-img:hover{
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.2;
}

.div-img img{
	height: 235px;
}

/* quadro dos vencedores da pagina about */

.container-side{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 1250px; */
  /* height: 350px;
  width: 300px; */
  
}

.container-side > div{
  margin: 50px;
	padding: 20px;
  height: 350px;
  width: 370px;
}


.container {
  border: 5px solid black;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  /* display: grid; */
  /* place-items: center;  */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  width: 450px;
  height: 400px;
  padding: 10px;
}

.items {
  width: 300px;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
}

.items-head{
  margin-bottom: 5%;
}

.items-head p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 37px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid black;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 10px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 10fr 1fr;
  background-color: #343434;
  color: white;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
}

.items-body-content:hover {
  transition: 0.4s;
  border-radius: 15px;
  border: 1px solid black;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

.items-body-content a{
  text-decoration: none;
}
.items-body-content a:visited{
  color: white;
}

.items-body-content a:active{
  color: white;
}

@media screen and (max-width: 600px) {

  nav ul{
    float: none;
    width: 100%;
    /* flex-flow: wrap; */
    margin: 0;
    padding: 0;
    
  }

  nav a {
    width: 100%;
    text-align: center;
  }

  /* .flex-about > div{
    flex-direction: column;
    background-color: red;
  } */

  .flex-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #div-p{
    width: 70%;
  }

  .container{
    height: 350px;
    width: 300px;
  }

  .container-side{
    flex-direction: column;
  }


}
/*! Page content styling*/

.flex-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* margin: 5% 15%; */
  margin: 4% 15%;
  padding: 5px;
}

 .flex-container > *{
  margin:10px;
  flex: 1 50%;
} 

.flex-container img {
  max-width: 40%;
  min-width:250px; /*Size until image stops getting smaller*/
  height: auto;
} 

/* .img-format{
  height: 235px;
} */

/* .flex-container p{
    display:inline-block;
}

.flex-container h2{
  display:inline-block;
} */



/*! Footer style*/

footer {
  border-top: 3px solid black;
  align-items: center;
  height: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 0.5px;
  position: fixed;
  bottom: 0;
  /* background-color: #a1e7f8; */
  background-color: #23232e;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgba(0, 136, 169, 1);
  transition: 0.3s;
}

/*! Registration style*/


#client-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: 5% 15%;
  padding:5px;
}

.individual-box {
  color: white;
  border: 2px solid black;
  text-decoration: none;
  text-align: center;
  border-radius: 50px; 
  padding: 15px 20px;
}

.individual-box:hover{
  background-color: rgba(0, 0, 0, 0.397);
  /* color: blue; */
  color: rgb(74, 74, 228);
  transition: 0.3s;
}

#client-type a:link {
  text-decoration: none;
  color: white;
}

#client-type a:visited {
  text-decoration: none;
  color: white;
}

#client-type a:hover {
  text-decoration: none;
  background-color: rgb(63, 152, 235);
  transition: 0.3s;
  color: black;
}

#client-type a:active {
  text-decoration: none;
  color: black;
}

/* pagina main */

#aboutBody{
  background-color: #23232e;
}

/* #divAbout{
  float: left;
  margin-left: 0%;
} */

/* #divImg{
  float: right;
  margin-left: 3%;
  margin-right: 0%;
  margin-top: 3%; 
  width: 300px;
  height: 350px;
  /* margin-bottom: 5%; */
/*}  */



#divAbout h1{
  font-family: 'Poppins';
  text-transform: uppercase;
  color: white;
}

#divAbout p{
  font-family: 'Poppins', sans-serif;
  color: white;
}

#divAbout a{
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

/* registration flip-card */

.flip-card-container{
	  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.imgFlip{
  /* width: 290px;
  height: 200px; */
  width: 95%;
  height: 67%;
}

.flip-card {
  margin-left: 35px;
  margin-right: 35px;
  background-color: transparent;
  /* width: 50vh;
  height: 50vh; */
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  font-family: 'Poppins', sans-serif;
  background-color: #23232e;
  color: white;
}

.flip-card-back {
  font-family: 'Poppins', sans-serif;
  background-color: #23232e;
  color: white;
  transform: rotateY(180deg);
}

/* botao index */
#btnIndex:hover{
  transition: 0.3s;
  /* background-color: rgba(37, 34, 34, 0.678); */
  opacity: 0.5;
}