h1{
    color:rgb(74, 74, 228);
}

nav{
    background-color: rgb(60, 135, 247);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav div{
    color: black;
    padding-right: 10px;
    height: 25px;
}